*, html, body, .btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.header-div {
    background-image: url("../../assets/img/banner.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.header-div-card {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.service-card {
    border: none;
}

.row.equal-cols {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.equal-cols:before, .row.equal-cols:after { display: block; }

.row.equal-cols > [class*='col-'] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 22px;
}

.row.equal-cols > [class*='col-'] > * {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; 
}

.active {
    transition: all 0.3s ease-in-out;
}

.service-card {
    transition: all 0.3s ease-in-out;
}

.service-card .card-img-top {
    transition: all 0.3s ease-in-out;
}

.service-card:hover {
    transform: scale(1.05);
    border: none;
    border-radius: 24px;
}

.service-card:hover .card-img-top {
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    border: none;
}

.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.active.fade-top {
    transition: all 1s ease-in-out;
    animation: fade-top 1s ease-in-out;
}

.active.fade-bottom {
    transition: all 1s ease-in-out;
    animation: fade-bottom 1s ease-in-out;
}

.active.fade-left {
    transition: all 1s ease-in-out;
    animation: fade-left 1s ease-in-out;
}

.active.fade-right {
    transition: all 1s ease-in-out;
    animation: fade-right 1s ease-in-out;
}

@keyframes fade-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 771px) {
    .desktop-break { display: none; }

    .mobile-break { display: block; }

    .header-content {
        align-content: center;
        text-align: center;
        align-items: center;
    }

    .header-content img {
        width: 100%;
    }

    .header-title {
        display: none;
    }

    #solutions row {
        margin-left: 25px !important;
        margin-right: 25px !important;
    }
}

@media only screen and (min-width: 770px) {
	.mobile-break { display: none; }

    .header-content img {
        float: right;
    }
}